.flexbox-container {
   display: flex;
   justify-content:center ;
   height: 250px;
   width: 500px;
   background-color: rgb(109, 13, 13);
   
}

.flexbox-item {
   width: 200px;
   margin: 10px;
   border: 3px solid rgb(0, 0, 0);
   background-color: white;
   font-size: large;
   box-sizing: border-box;
}

.flexbox-item-1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  

.flexbox-item-2 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flexbox-item-3 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}